@use 'tokens' as t;
@use 'forms';
@use 'mixins' as m;

:host {
  @include m.page-flex;
  width: 100%;
}

.full-add {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  align-self: center;

  width: 100%;
  max-width: 900px;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: row;

  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;

  gap: t.$space-sm;
  margin: 0;
  color: t.$primary;

  mat-icon {
    font-size: 1.3rem;
    line-height: 1.3;
  }
}

.full-form {
  background: t.$primary-100;
  padding: t.$space-lg;
  margin: 0;
}
