<div class="home-page">
  <div class="home-layout container">
    <aside class="left-col" aria-label="{{ 'navbar.searchPlaceholder' | translate }}">
      <quick-search
        (search)="onSearch($event)"
        placeholder="{{ 'search.quick.title' | translate }}"
      ></quick-search>
      <quick-search
        (search)="onSearch($event)"
        placeholder="{{ 'search.quick.recipeType' | translate }}"
      ></quick-search>
      <quick-search
        (search)="onSearch($event)"
        placeholder="{{ 'search.quick.prepTime' | translate }}"
      ></quick-search>
      <quick-search
        (search)="onSearch($event)"
        placeholder="{{ 'search.quick.ingregientType' | translate }}"
      ></quick-search>
    </aside>

    <main class="main-col">
      <section class="daily">
        <h2>{{ 'home.dailyRecipe' | translate }}</h2>
        @if (loading()) {
        <mat-spinner aria-label="{{ 'common.loading' | translate }}"> </mat-spinner>
        } @else {
        <app-recipe-mini [recipe]="dailyRecipe()"> </app-recipe-mini>
        } @if (errorMessage()) {
        <div class="error">{{ errorMessage() }}</div>
        }
      </section>
    </main>

    <aside class="right-col" aria-label="{{ 'recipe.addRecipe' | translate }}">
      @if (auth()) {
      <ng-container>
        <add-recipe-mini (openCreateFull)="onOpenCreateFull($event)"></add-recipe-mini>
      </ng-container>
      } @else {
      <ng-template>
        <auth-cta
          (openLogin)="console.log('open login')"
          (openRegister)="console.log('open register')"
        ></auth-cta>
      </ng-template>
      }
    </aside>
  </div>
</div>
