<div [ngClass]="classes()">
  @if (label()) {
    <label class="form-field__label">
      <span>{{ label() }}</span>

      @if (required()) {
        <span class="form-field__required">*</span>
      }
    </label>
  }

  <div class="form-field__control">
    <ng-content />
  </div>

  @if (hint()) {
    <p class="form-field__hint">
      {{ hint() }}
    </p>
  }

  <app-validation-message
    [control]="control()"
    [group]="group()"
    [messages]="effectiveMessages()"
    [submitted]="submitted()"
    [showWhen]="showWhen()"
  />
</div>
