@use 'tokens' as t;

/* Forms */
.mini-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  gap: t.$space-md;
  padding: t.$space-md;

  .title {
    display: flex;
    align-items: center;
    gap: t.$space-sm;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: t.$primary;

    mat-icon {
      font-size: 1.3rem;
      line-height: 1.3;
    }
  }

  .submit {
    margin-top: t.$space-sm;
    width: fit-content;
    background: t.$primary;
    border-radius: t.$radius-md;
    align-self: center;
    color: whitesmoke;
  }

  .form {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    padding: t.$space-md;

    gap: t.$space-sm;
    border: 1px solid t.$primary;
    border-radius: t.$radius-lg;
    align-self: center;
    width: 90%;
  }

  .field {
    width: 90%;
    align-self: center;
    color: t.$primary;

    mat-icon {
      margin-right: t.$space-xs;
      line-height: 1.2;
    }
  }
}

.sub-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  gap: t.$space-xs;
  padding: t.$space-sm;

  .title {
    display: flex;
    align-items: center;
    gap: t.$space-sm;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: t.$primary;
    padding-bottom: t.$space-md;

    mat-icon {
      font-size: 1.3rem;
      line-height: 1.3;
    }
  }

  .field {
    width: 100%;
    align-self: center;
    color: t.$primary;

    mat-icon {
      margin-right: t.$space-xs;
      line-height: 1.2;
    }

    input,
    textarea {
      color: t.$primary-600;
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }
}
