.mat-mdc-menu-panel {
  background: var(--color-primary-light) !important;
  border-radius: var(--radius-md) !important;
  box-shadow: var(--shadow-md) !important;
  padding: var(--space-xs) !important;
  backdrop-filter: blur(6px);
  opacity: 0.98;
}

.mat-mdc-menu-item:hover,
.mat-mdc-menu-item.cdk-focused:not(:hover) {
  background: var(--color-surface-hover) !important;
}

.mat-mdc-menu-item {
  border-radius: var(--radius-sm) !important;
  color: var(--color-text-strong) !important;
  font-size: 0.95rem;
}

.mat-mdc-tooltip {
  background: var(--color-primary) !important;
  color: var(--color-surface) !important;
  font-size: 0.9rem !important;
  padding: 6px 10px !important;
  border-radius: var(--radius-sm) !important;
  box-shadow: var(--shadow-md) !important;
  opacity: 1 !important;
}

.cdk-overlay-pane .mat-mdc-select-panel,
.mat-mdc-option {
  background: var(--color-surface) !important;
  opacity: 1 !important;
}

.mat-mdc-option:hover,
.mat-mdc-option.cdk-focused:not(:hover) {
  background: var(--color-surface-hover) !important;
}

.mat-mdc-divider {
  background: black;
  color: black;
}

.field.mat-mdc-form-field .mat-mdc-form-field-flex {
  align-items: flex-start;
}

.field.mat-mdc-form-field .mat-mdc-form-field-icon-prefix {
  align-self: flex-start;
  margin-top: 0.8rem;
}

.mat-mdc-form-field-infix {
  padding: var(--space-xs);
}
