.login-secondary {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: var(--space-lg);

  align-items: center;

  padding-top: var(--space-lg);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 20%;
    right: 20%;

    height: 1px;

    background: var(--color-border);
  }
}
