@use '../../../../styles/forms/form-global-style' as form;

.login-form {
  @include form.base-form;

  & {
    gap: var(--space-lg);
  }

  &__error {
    font-size: var(--text-lg);
  }
}

.secondary {
  @include form.secondary-actions;

  // Customization
  & {
    gap: var(--space-md);
    padding-top: var(--space-xl);
  }

  &__label {
    font-size: var(--text-lg);
  }

  &::before {
    height: 2px;
  }
}

.login-input {
  width: 100%;
}
