@use 'tokens' as t;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.home-page {
  .home-layout {
    display: flex;
    gap: t.$space-xs;
    padding: t.$space-xs 0;
    max-width: t.$max-width;
    margin: 0 auto;
    // min-height: calc(100vh - 80px);
  }

  .left-col {
    display: flex;
    flex-direction: column;
    gap: t.$space-md;
    flex: 0 0 260px;
    padding-left: 1%;
  }

  .main-col {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
    align-items: center;
  }

  .right-col {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    gap: t.$space-md;
    padding-right: 1%;
  }

  .title {
    text-align: center;
  }

  .daily {
    margin-top: t.$space-xs;
  }

  .home-layout > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: 1024px) {
    .home-layout {
      gap: t.$space-md;
    }

    .right-col {
      flex: 0 0 240px;
    }
  }

  @media (max-width: 768px) {
    .home-layout {
      flex-direction: column;
    }

    .left-col,
    .right-col,
    .main-col {
      width: 100%;
    }

    .main-col {
      order: 2;
    }

    .left-col {
      order: 1;
    }

    .right-col {
      order: 3;
    }
  }
}
