<div class="home-page">
  <div class="home-container">
    <div class="main-content">
      <section class="daily-section">
        <h2 class="title">{{ 'home.dailyRecipe' | translate }}</h2>

        <div class="daily-content">
          @if (loading()) {
            <mat-spinner aria-label="{{ 'common.loading' | translate }}"> </mat-spinner>
          } @else {
            <app-recipe-mini [recipe]="dailyRecipe()"> </app-recipe-mini>
          }

          @if (errorMessage()) {
            <div class="error">{{ errorMessage() }}</div>
          }
        </div>
      </section>
    </div>
  </div>
</div>
