@use 'tokens' as t;
@use 'mixins' as m;

:host {
  @include m.page-flex;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 55vh;

  border-radius: t.$radius-lg;

  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}
