<section [ngClass]="classes()">
  @if (title() || subtitle()) {
    <header class="form-layout__header">
      @if (title()) {
        <h2 class="form-layout__title">
          {{ title() }}
        </h2>
      }

      @if (subtitle()) {
        <p class="form-layout__subtitle">
          {{ subtitle() }}
        </p>
      }
    </header>
  }

  <div class="form-layout__content">
    <ng-content select="[form-content]" />
  </div>

  <footer class="form-layout__actions">
    <ng-content select="[form-actions]" />
  </footer>
</section>
